body{
    font-family: 'Quicksand', sans-serif;
    /* background-color: yellow; */
    /* border: 5px solid red; */
    margin: 0;
}
header{
    /* background-color: brown; */
    display: flex;
}
#page-logo{
    background-color: rgb(7,83,83);
    
}
#page-logo a{
    /* background-color: purple; */
    padding: 10px;
    color: rgb(245,243,160);
    font-size: 3.0rem;
    /* 1.0rem=16px */
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: 3px 3px 2px rgb(0,0,0);
}
nav{
    /* background-color: red; */
    width: 70%;
    display: flex;
    justify-content: end;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* background-color: rbg(127,127,169); */
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 10px;
}
nav ul a{
    text-decoration: none;
    color: rgb(255,251,0);
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 2px rgba(233,240,0, 0.8);
    border-radius: 6px;
}
nav ul a:hover{
    color: black;
    background-color: rgb(255,251,0);
}
/* CSS of HERO */
#hero{
    height: 800px;
    background-image: url(../images/hinh-nen-bien-5.webp);
    background-position: center;
    background-size: cover;
}
.hero-content{
    width: 900px;
    background-color: rgba(51,47,47, 0.8);
    box-shadow: 2px 4px 8px rbg(68,67,67);
    border-radius: 8px;
    text-align: center;
}